# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
**/android/**/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/.last_build_id

# Build outputs
*.apk
*.aab
*.ipa
*.app
.cxx/
